<h1><%= @album.title %></h1>
<p>This is an ablum by <%= link_to @album.band.name, band_path(@album.band) %>.</p>

<h3>Track List:</h3>
<%# eventually will need to change controller to display tracks sorted by ord %>
<ol>
    <% @album.tracks.each do |track| %>
        <li><%= link_to track.title, track_path(track) %>
        <%= "- Bonus" if !track.regular %> - 
        <%= link_to "edit", edit_track_path, class: 'edit_link' %>
        <%= link_to "delete", track_path(track), method: "DELETE", data: {confirm: "Are you sure?"}, class: 'delete_link' %>
        </li>
    <% end %>
</ol>

<%= link_to "Add new track", new_album_track_path(@album), class: 'link' %>
<%= link_to "Album info", album_path(@album), class: 'link' %>