<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <nav>
          <a class='button' href="#">Home</a>
          
          <div class='user-detail'>
            <p>Logged in as: <%= current_user.name %></p>
            <form action=<%= session_url %> method='post'>
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="submit" value="Sign Out">
            </form>
          </div>
      </nav>
    <% end %>
    <p>
      <% if flash[:error] %>
          <% flash[:error].each do |error| %>
              <ul>
                  <li><%= error %></li>
              </ul>
          <% end %>
      <% end %>
    </p>
    <p>
      <%= flash[:success] if flash[:success] %>
    </p>
    <%= yield %>
  </body>
</html>
